{% extends 'base.html' %}

{% block content %}

<div class="card">
    <h2>Add New Task</h2>

    <form method="POST" action="/add">

        <label>Title</label>
        <input type="text" name="title" required>

        <label>Status</label>
        <select name="status">
            <option value="Pending">Pending</option>
            <option value="In Progress">In Progress</option>
            <option value="Completed">Completed</option>
        </select>

        <label>Priority</label>
        <select name="priority">
            <option value="Low">Low</option>
            <option value="Medium">Medium</option>
            <option value="High">High</option>
        </select>

        <button type="submit">Add Task</button>
    </form>
</div>

{% endblock %}
